@tailwind base;
@tailwind components;
@tailwind utilities;

.maincover {
    background-image: url(/coverbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}